<nav class="wf-nav" aria-label="Навигация ЛК админа">
  <ul>
    <li><a href="index.html">Главная</a></li>
    <li><a href="sectors.html">Секторы и ПМ</a></li>
    <li><a href="tariffs.html">Тарифы</a></li>
    <li><a href="contracts.html">Договоры</a></li>
    <li><a href="clients.html">Профили клиентов</a></li>
    <li><a href="admins.html">Профили админов</a></li>
    <li><a href="requests.html">Обращения</a></li>
    <li><a href="analytics.html">Аналитика</a></li>
    <li><a href="../site/staff-login.html">Выход</a></li>
  </ul>
</nav>
